.ui-pagination-container {
	height: 34px;
	line-height: 34px;
}

.ui-pagination-container .ui-pagination-page-item {
	font-size: 1.1rem;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
	background-color: #F6F6F6;
	border: 1px solid #F6F6F6;
	color: #888;
	margin: 0 3px;
	text-decoration: none;border-radius:50%;
}

.ui-pagination-container .ui-pagination-page-item[data-current="homePage"],
.ui-pagination-container .ui-pagination-page-item[data-current="endPage"]{
    display:none;
}

.ui-pagination-container .ui-pagination-page-item.prevPage,
.ui-pagination-container .ui-pagination-page-item.nextPage{
    color:#76BA15;font-weight:900;font-size:1.2rem; 
}

.ui-pagination-container .ui-pagination-page-item:hover {
	border-color: #568dbd;
	color: #568dbd;
	text-decoration: none;
}

.ui-pagination-container .ui-pagination-page-item.active {
    background: #76BA15;border-color:#76BA15;color: #fff;cursor: pointer;border-radius:50%;
}
button {
    display: inline-block;
    padding: 6px 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #28a4c9;
    color: #fff;
    background-color: #5bc0de;
    margin: 20px 20px 0 0;
}

.box {
    width: 100%;
    margin: 100px auto 70px;
    height: 53px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.page {
    width:auto;
}

.info {
    width: 200px;
    height: 34px;
    line-height: 34px;
}